:root {
  --color-primary: #0d9488;
  --color-primary-focus: #0f766e;
  --color-secondary: #475569;
  --color-secondary-focus: #334155;
  --color-background: #1e293b;
  --color-surface: #334155;
  --color-text-primary: #f1f5f9;
  --color-text-secondary: #94a3b8;
  --color-accent-green: #10b981;
  --color-accent-yellow: #f59e0b;
  --color-accent-red: #ef4444;
}
.light-mode {
  --color-primary: #0000ff;
  --color-primary-focus: #0000dd;
  --color-secondary: #666666;
  --color-secondary-focus: #444444;
  --color-background: #ffffff;
  --color-surface: #e0e0e0;
  --color-text-primary: #000000;
  --color-text-secondary: #444444;
  --color-accent-green: #006400;
  --color-accent-yellow: #ff8c00;
  --color-accent-red: #c80000;
}
.light-mode .bg-secondary {
  color: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 28px;
}
